.btn {
    padding: 1.5rem 3rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    border: none;
    background: $c-very-dark-blue;
    color: $c-off-white;
    transition: background .3s;

    &:hover {
        cursor: pointer;
    }

    &--primary {
        background: $c-soft-red;

        &:hover {
            background: $c-very-dark-blue;
        }
    }
}