.new-articles {
    background: $c-very-dark-blue;
    padding: 2rem;
    color: $c-grayish-blue;

    h2 {
        color: $c-soft-orange;
    }

    @media(min-width: $bp-small) {
        grid-area: new_articles;
    }

    @media(min-width: $bp-medium) {

        h2,
        h3 {
            font-weight: 700;
        }
        
        h2 {
            font-size: 4rem;
        }

        h3 {
            font-size: 2rem;
        }
    }
}

.new-article {
    padding-block: 2.5rem;
    font-size: 1.5rem;
    &:not(:first-child) {
        border-top: 1px solid $c-dark-grayish-blue;
    }

    p {
        margin-bottom: 0;
    }

    h3 {
        color: $c-off-white;
        transition: color .3s;
    }

    &:hover {
        h3 {
            color: $c-soft-orange;
        }
    }
}