.top-article {
    &__container {
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas: "image title"
            "image content";
        grid-column-gap: 2rem;
    }

    &__header {
        grid-area: title;

    }

    &__number {
        font-size: 3rem;
        line-height: 1.1;
        font-weight: 700;
        color: $c-grayish-blue;
        margin-bottom: 1.5rem;
    }

    &__content {
        grid-area: content;
    }

    &__image {
        grid-area: image;
    }

    &s {
        display: grid;
        grid-gap: $g-grid-gap-l;

        @media(min-width: $bp-small) {
            grid-area: top_articles;
        }
    
        @media(min-width: $bp-medium) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}